*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i{color: white;
cursor: pointer;
}

.bgColorGreyO{background-color: rgba(128, 128, 128, 0.5);}
.bgColorBlack{background-color: black;}
.bgColorDGrey{background-color: #222222;}
.bgColorGrey{background-color: lightslategray;}
.bgRed{color: red;}

.flex{
    display: flex;
    flex-direction: row;
}

.column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


/******** HEADER *******/

.boxedH{
    width: 100%;
    height: 50px;
    color: white;
    padding: 10px;
    justify-content: flex-end;
}

.padH{
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

/******* MAIN *******/

.boxedM{
    width: 100%;
    height: calc(100vh - 120px);
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 50px;
}

.photo{
    width: calc(100% / 7 - 10px);
    margin: 10px 5px;
    height: calc(100% / 5 - 20px);
    position: relative;
}

.photo img{
    height: 100%;
    width: 100%;
}

.user{
    color: white;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

/******* FOOTER ******/

.boxedF{
    width: 100%;
    height: 70px;
    color: white;
    justify-content: space-between;
}

.interazioni .big i{
    font-size: 25px;
}

.bgGreen i{
    color: greenyellow;
}

.interazioniCenter .big i {
    font-size: 25px;
}

.chevron{
    font-size: 10px;
}

.end{
    cursor: pointer;
}


